<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Personas</title>
</head>
<body>
<h1>Lista de Personas</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Email</th>
        <th>Teléfono</th>
        <th>Dirección</th>
        <th>Ciudad</th>
        <th>País</th>
        <th>Código Postal</th>
        <th>CUIT</th>
    </tr>
    <tr th:each="persona : ${persona}">
        <td th:text="${persona.id}"></td>
        <td th:text="${persona.nombre}"></td>
        <td th:text="${persona.apellido}"></td>
        <td th:text="${persona.email}"></td>
        <td th:text="${persona.telefono}"></td>
        <td th:text="${persona.direccion}"></td>
        <td th:text="${persona.ciudad}"></td>
        <td th:text="${persona.pais}"></td>
        <td th:text="${persona.codigoPostal}"></td>
        <td th:text="${persona.cuit}"></td>
    </tr>
</table>
</body>
</html>
